.Main {
    display: flex;
    justify-content: center;

    .calculator {
        display: block;
        align-items: center;

        .inputs {
            display: flex;
            flex-direction: column;
            align-items: center;

            .input-group {
                margin: 10px;
            }
        }

        .Buttonset {
            display: flex;
            justify-content: center;
        }
    }

    .ResBox {
        display: block;

        .Box {
            outline: auto;
            margin: 10px;
            padding: 10px;
        }

        .Box1 {
            display: flex;
            outline: auto;
        }

        .Box2 {
            display: flex;
            outline: auto;
        }
    }
}