<div class="holder">
    <nav class='navbar'>Genshin Farming Calculator</nav>
    <div class="iconSet">
        <ul>
            <li><a class="link-genshin-calculaor"
                    href="https://webstatic-sea.hoyolab.com/ys/event/calculator-sea/index.html?bbs_presentation_style=fullscreen&bbs_auth_required=true&utm_source=share&utm_medium=link&utm_campaign=web"
                    title="Genshin Impact Enhancment Progress Calculator" target="_blank"><i
                        class="fa-solid fa-calculator fa-xl">
                    </i>
                </a>
            </li>
            <li><a (click)=clickFunction() title="Share"><i class="fa-solid fa-share-nodes fa-xl"></i></a></li>
        </ul>
    </div>
</div>