<div class="Main">
    <div class="mainContainer">
        <div class="calculator">
            <div class="inputs">
                <div class="input-group">
                    <input class="greenC" type="number" autocomplete="off" id="green" name="green" [(ngModel)]="green">
                </div>
                <div class="input-group">
                    <input class="blueC" type="number" autocomplete="off" id="blue" name="blue" [(ngModel)]="blue">
                </div>
                <div class="input-group">
                    <input class="purpleC" type="number" autocomplete="off" id="purple" name="purple" [(ngModel)]="purple">
                </div>
            </div>
            <div class="Buttonset">
                <button class="calculate-btn" (click)="calc()">Calculate</button>
                <button class="clear-btn" (click)="clear()">Clear</button>
            </div>
        </div>
        <div class="ResBox">
            <div class="whiteBox">
                <div class="boxGrid">
                    <div class="boxgreen Box">
                        <p>{{ green1 }}</p>
                    </div>
                    <div class="boxblue Box ">
                        <p>{{ blue1 }}</p>
                    </div>
                    <div class="boxpurple Box">
                        <p>{{ purple1 }}</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="boxGrid">
                    <div class="boxgreen Box">
                        <p>{{ green2 }}</p>
                    </div>
                    <div class="boxblue Box">
                        <p>{{ blue2 }}</p>
                    </div>
                    <div class="boxpurple Box">
                        <p>{{ purple2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>