<div class="contain">
    <div class="holder">
        <div class="text-part-info">
            <h2>How to Use Our Website</h2>
            <ol>
                <li>Use the Tab over to switch between character level up materials, weapon ascension
                    materials, talent level up books or elemental stones.(Use Genshin Calculator to know how much material you need)
                </li>
                <li>Enter the quantities you have in you Backpack in the input box. Watch out for the
                    background color of the materials you're entering.</li>
                <li> Press Calculate, and it will show all the possible conversions you
                    can make.
                </li>
                <li>The results will be displayed in rows, indicating the conversions from one input to
                    another. Row one shows the conversion from input 1 -> 2, row two shows the conversion from input
                    1 + 2 -> 3, and row three shows the conversion from inputs 1 + 2 + 3 -> 4.
                </li>
            </ol>
        </div>
    </div>
</div>