.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.module-selector{
  height: 95px;
  width: 55%;
  
}

.buttonSet{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 95px;
  border-color: none;
  border-radius: 20px 20px 0px 0px;
  background-color: green;
}

button{
  display: inline-block;
  height: auto;
  width: 15%;
  padding: 10px 20px;
  margin-left: 0.3%;
  border: none;
  border-radius: 5px 5px 0px 0px;
  background-color: #007bff; /* Default button color */
  color: #fff; /* Default text color */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}