.Main {
    display: flex;
    justify-content: center;
}

.mainContainer {
    display: flex;
    width: 55%;

}

.calculator {
    flex-grow: 3;
    background-color: #EDE5D8;
    padding: 2%;
}

.input-group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

input {
    font-family: 'Genshin';
    font-size: xx-large;
    padding: 10px;
    border: none;

}

input:focus {
    outline: none;
}

.Buttonset {
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    justify-content: space-between;
}

/* Styles for the button */
button {
    font-family: 'Genshin';
    background-color: #ffffff;
    color: #201900;
    border: none;
    width: 30%;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

/* Hover effect */
button:hover {
    background-color: #d3bc8e;
    /* Darker shade of the button color on hover */
}

/* Disabled state */
button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.ResBox {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EDE5D8;

}

.whiteBox {
    background-color: #ffffff;
    border-radius: 20px;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 2%;
    justify-content: center;
}

.Box {
    height: 100px;
    width: 100px;
    margin: 5px;
    text-align: center;
    font-size: xx-large;
}

.boxGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.divider {
    text-align: center;
    width: 60%;
    height: 1px;
    background-color: #d5cab5;
    margin: 2% 20%;
}
